<extend name="Common:base" />


<block name="page_title">所有商品列表</block>


<block name="main">

    <div class="box">
        <div class="box-header well-small">
            <h4>所有商品列表</h4>
        </div>
        <div class="box-content">

            <a id="btn-add" href="{:U('goods/add')}" class="btn btn-round btn-info">
                <i class="icon-plus"></i>录入新商品
            </a>
            <hr/>
            <form class="form-inline" action="{:U('goods/search')}" method="get">
                商品分类：
                <!--<front:select id="category_list" name="cid" model="category" selected="999999" />-->
                <front:category_select id="category_list" name="cid" selected="999999" />

                商品名称：<input type="text" name="name" />
                <button class="btn" type="submit" >查找</button>
            </form>


            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>条形码</th>
                    <th class="span2">商品名称</th>
                    <th>分类</th>
                    <th>规格</th>
                    <th>单位</th>
                    <th>售价</th>
                    <th>报警数量</th>
                    <th>品牌</th>
                    <th>关键词</th>
                    <th>描述信息</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>

                <volist name="list" id="vo">
                    {/*
                    <elt name="vo.goods_alarm" value="5">class="error" </elt>
                    <between name="vo.goods_alarm" value="5,10">class="warning"</between>
                    <gt name="vo.goods_alarm" value="10">class="success" </gt>
                    */}
                    <tr>
                        <td class="center">{$vo.barcode}</td>
                        <td class="center"><a href="{:U('goods/edit')}?id={$vo.id}">{$vo.name}</a></td>
                        <td class="center"><eq name="vo.category_id" value="999999">未分类<else/>{$vo.category_id|default="未归类"}</eq></td>
                        <td class="center">{$vo.specifications}</td>
                        <td class="center">{$vo.unit}</td>
                        <td class="center">{$vo.sales_price}</td>
                        <td class="center">{$vo.alarm}</td>
                        <td class="center">{$vo.brand|default=''}</td>
                        <td class="center">{$vo.keyword|default=''}</td>
                        <td class="center">{$vo.desp|default='...'}</td>
                        <td class="center">
                            <a class="btn btn-danger btn-mini" href="{:U('goods/del')}?id={$vo.id}"><i class="icon-trash icon-white"></i></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div id="page" class="pagination pagination-small">{$page}</div>

        </div>
    </div>

</block>