<extend name="Common:base" />


<block name="page_title">录入新分店</block>
<block name="main">

    <div class="box">
        <div class="box-header well-small">
            <h4><i class="icon-edit"></i>录入新分店</h4>
        </div>
        <div class="box-content">

            <form class="form-horizontal" method="post" action="{:U('branch/insert')}">
                <fieldset>
                    <legend>连锁分店信息 <a href="{:U('/branch')}" class="btn btn-info pull-right">返回分店列表</a></legend>
                    <div class="control-group">
                        <label class="control-label">分店名称：</label>
                        <div class="controls">
                            <input type="text" name="name" value="贵大"/>
                            <span class="help-inline label label-info" >*请输入</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">地址：</label>
                        <div class="controls">
                            <input type="text" name="address" value="贵阳市花溪区"/>
                            <span class="help-inline label label-info" >*请输入</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">联系电话：</label>
                        <div class="controls">
                            <input type="text" name="phone" value="13787323467"/>
                            <span class="help-inline label label-info" >*请输入</span>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="selectStaff">负责人：</label>
                        <div class="controls">
                            <select id="selectStaff" data-rel="chosen">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                            <span class="help-inline label label-info" >*请输入</span>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label">图片：</label>
                        <div class="controls">
                            <input type="text" name="photo" value="photo1"/>
                            <span class="help-inline label label-info" >*请输入</span>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">确定</button>
                        <a class="btn" href="{:U('/branch')}">返回</a>
                    </div>
                </fieldset>
            </form>

        </div>
    </div>

</block>