{//模板继承}
<extend name="Common:base" />


<block name="page_title">超市管理系统后台首页</block>
<block name="main">

    <div class="row-fluid">
        <a data-rel="tooltip" title="总共有312名员工" class="well span3 top-block">
            <span class="icon32 icon-red icon-user"></span>
            <div>总员工数量</div>
            <div>312</div>
            <span class="notification">新增5人</span>
        </a>

        <a data-rel="tooltip" title="昨日收入￥9200" class="well span3 top-block" href="#">
            <span class="icon32 icon-color icon-cart"></span>
            <div>昨日收入</div>
            <div>￥9200</div>
            <span class="notification yellow">盈利</span>
        </a>

        <a data-rel="tooltip" title="12 new messages." class="well span3 top-block" href="#">
            <span class="icon32 icon-color icon-envelope-closed"></span>
            <div>Messages</div>
            <div>25</div>
            <span class="notification red">12</span>
        </a>
    </div>


</block>