{/*

全部CSS文件

*/}
{//Bootstrap CSS}
<!--<css href="__ASSETS__/charisma/css/bootstrap-cerulean.css" />-->
<css href="__ASSETS__/bootstrap/css/bootstrap.css" />
<css href="__ASSETS__/bootstrap/css/bootstrap-cerulean.css" />

{//JQuery UI Bootstrap CSS}
<css href="__ASSETS__/jquery-ui-bootstrap/css/jquery-ui-1.10.0.custom.css" />

{//主题APP CSS}
<!--<css href="__ASSETS__/charisma/css/charisma-app.css" />-->

{// 插件所属CSS}
<css href="__ASSETS__/charisma/css/chosen.css" />
<css href="__ASSETS__/charisma/css/uniform.default.css" />
<css href="__ASSETS__/charisma/css/opa-icons.css" />
<css href="__ASSETS__/plugins/bwizard/bwizard.css" />

{// 自定义CSS }
<css href="__ASSETS__/css/custom.css" />