{/*

左边固定导航菜单

*/}

<div class="well nav-collapse sidebar-nav span2">
    <ul class="nav nav-tabs nav-stacked main-menu">
        <li class="nav-header">功能列表</li>
        <li>
            <a class="nav-header menu-first " href="{:U('index/index')}">
                <i class="icon-home"></i>后台首页
            </a>
        </li>
        <li>
            <a href="#branch" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-th-large"></i>分店管理</a>
            <ul id="branch" class="nav nav-list collapse menu-second">
                <li><a href="{:U('branch/index')}"><i class="icon-list"></i>分店列表</a></li>
                <li><a href="{:U('branch/add')}"><i class="icon-plus-sign"></i>新增分店</a></li>
            </ul>
        </li>
        <li>
            <a href="#staff" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-user"></i>员工管理</a>
            <ul id="staff" class="nav nav-list collapse menu-second">
                <li><a href="{:U('staff/index')}"><i class="icon-list"></i>员工列表</a></li>
                <li><a href="{:U('staff/add')}"><i class="icon-plus-sign"></i>新增员工</a></li>
            </ul>
        </li>
        <li>
        <li>
            <a href="#supplier" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-briefcase"></i>供货商管理</a>
            <ul id="supplier" class="nav nav-list collapse menu-second">
                <li><a href="{:U('supplier/index')}"><i class="icon-list"></i>供货商列表</a></li>
                <li><a href="{:U('supplier/add')}"><i class="icon-plus-sign"></i>添加供货商</a></li>
            </ul>
        </li>
        <li>
            <a href="#goods" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-shopping-cart"></i>商品管理</a>
            <ul id="goods" class="nav nav-list collapse menu-second">
                <li><a href="{:U('category/index')}"><i class="icon-list"></i>商品分类</a></li>
                <li><a href="{:U('goods/index')}"><i class="icon-list"></i>商品列表</a></li>
                <li><a href="{:U('goods/add')}"><i class="icon-plus-sign"></i>添加商品</a></li>
            </ul>
        </li>
        <li>
            <a href="#promotions" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-hand-down"></i>折扣管理</a>
            <ul id="promotions" class="nav nav-list collapse menu-second">
                <li><a href="{:U('promotions/index')}"><i class="icon-list"></i>折扣列表</a></li>
                <li><a href="{:U('promotions/release')}"><i class="icon-plus-sign"></i>添加折扣</a></li>
            </ul>
        </li>

        <li>
            <a href="#stock" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-forward"></i>入库管理</a>
            <ul id="stock" class="nav nav-list collapse menu-second">
                <li><a href="{:U('StockRecord/index')}"><i class="icon-list"></i>入库记录</a></li>
            </ul>
        </li>
        <li>
            <a href="#sales" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-backward"></i>出库管理</a>
            <ul id="sales" class="nav nav-list collapse menu-second">
                <li><a href="{:U('SalesRecord/index')}"><i class="icon-list"></i>出库记录</a></li>
            </ul>
        </li>
        <li>
            <a href="#authority" class="nav-header menu-first collapsed" data-toggle="collapse">
                <i class="icon-lock"></i>权限管理</a>
            <ul id="authority" class="nav nav-list collapse menu-second">
                <li><a href="{:U('node/index')}"><i class="icon-th"></i>节点列表</a></li>
                <li><a href="{:U('role/index')}"><i class="icon-user"></i>角色列表</a></li>
                <li><a href="{:U('node/add')}"><i class="icon-plus-sign"></i>增加节点</a></li>
                <li><a href="{:U('role/add')}"><i class="icon-plus-sign"></i>增加角色</a></li>
            </ul>
        </li>
    </ul>
</div>