<extend name="Common:base" />


<block name="page_title">前台销售页面</block>
<block name="main">


    <div class="row well">
        <div class="alert alert-info span4">
            <h2>商品销售</h2>
            <p>步骤如下：</p>
            <p>1、连续扫描商品条形码（同时提供数量）</p>
            <p>2、系统自动获取商品销售信息以及折扣信息，生成表单</p>
            <p>3、售货员完成订单确认，并收取现金以及找零</p>
            <a class="btn btn-primary btn-large pull-right" href="{:U('SaleGoods/scanbarcode')}">开始销售</a>
        </div>

        <div class="alert alert-info span4">
            <h2>退货</h2>
            <p>步骤如下：</p>
            <p>1、连续扫描商品条形码（同时提供数量）</p>
            <p>2、系统自动获取商品销售信息以及折扣信息，生成表单</p>
            <p>3、售货员完成订单确认，并收取现金以及找零</p>
            <a class="btn btn-primary btn-large pull-right">有货要退</a>
        </div>

        <div class="alert alert-info span4">
            <h2>退货</h2>
            <p>步骤如下：</p>
            <p>1、连续扫描商品条形码（同时提供数量）</p>
            <p>2、系统自动获取商品销售信息以及折扣信息，生成表单</p>
            <p>3、售货员完成订单确认，并收取现金以及找零</p>
            <a class="btn btn-primary btn-large pull-right">有货要退</a>
        </div>
    </div>


    <!--<form method="post" action="">-->
        <!--<div class="wizard">-->
            <!--<ol>-->
                <!--<li>扫描商品条形码</li>-->
                <!--<li>录入商品数量</li>-->
                <!--<li>订单预览</li>-->
                <!--<li>提交成功</li>-->
            <!--</ol>-->
            <!--<div><div class="alert alert-info" id="webcam"></div></div>-->
            <!--<div>-->
              <!---->
            <!--</div>-->
            <!--<div></div>-->
            <!--<div>-->
                <!--<button type="submit" class="btn btn-primary">确认订单</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

</block>

<block name="other">
<js href="__ASSETS__/plugins/scanner/scanner.js" />
<script type="text/javascript" src="http://aui.github.io/artTemplate/template.js"></script>
    <script id="sale_form" type="text/html">

        <ul>
            <% for (var i = 0; i < list.length; i ++) { %>
            <li>索引 <%= i + 1 %> ：<%= list[i] %></li>
            <% } %>
        </ul>
    </script>

    <script type="text/javascript">
    $(function(){


        $(".wizard").bwizard({
            backBtnText:"返回上一步",
            nextBtnText:"进入下一步",
            clickableSteps: false,
            loop: false,
            activeIndexChanged: function (e, ui) {
                //第一步
                if(ui.index === 1){
                    //渲染表单进入完成
//                    $(ui.panel).html("");
                }
            },validating: function (e, ui) {

            }
        });
//        $(".wizard").bwizard("url",1,"/");

        var codes = [];
        var goodsList = [];
        function isScanned(code){
            for(var i = 0,len=codes.length; i< len; i++){
                if(codes[i] === code){
                    return true;
                }
            }
            return false;
        }
        var scanner  = new Scanner("webcam",function(code){
            var html = scanned.html()+"<br/>";
            //如果已经扫描过
            if(isScanned(code)){
                scanned.html(html+"条形码"+code+"已经扫描过！");
                return ;
            }
            codes.push(code);
            $.get('{:U("goods/getInfo")}',{"barcode":code},function(json){
                //说明商品信息不存在
                if(json.status == 0){
                    scanned.html(html+"条形码："+code+"的商品信息不存在！");
                }else{
                    goodsList.push(json.data);
                    $('#scanned-list').html(html+"条形码："+code+"，商品名称："+json.data.name);
                }
            });
        });

        var scanned = $("<div></div>").attr({
            id:"scanned-list"
        }).addClass("alert alert-info").appendTo("#step1");

    });
</script>
</block>